:root{
    --tr-rarity-common: #e8f8c1;
    --tr-rarity-uncommon: #82f7d9;
    --tr-rarity-rare: #6fb2ff;
    --tr-rarity-mystic: #c373f1;
    --tr-rarity-legendary: #f3b059;
    --tr-rarity-pony: #ff00f2;
}
